.details-header{
    position: absolute;
    width: 250px;
    height: 175px;
}
.bookmark-container{

}
.bookmark {
    height: 20px;
    width: 20px;
}
.details-content{
    text-align: center;
}
.details-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.text-center{
    text-align: center;
}
span.class-time {
    text-transform: capitalize;
}